- @users.each do |user|
 - next if current_user == user 
   Name:
   = user.name
   Email:
   = user.email
 - if Collaborator.exists?(user_id: user.id, wiki_id: @wiki.id)  
        = link_to "Remove as collaborator", wiki_collaborator_path(@wiki, user), method: :delete, class: 'btn btn-info'
 - else
 	= link_to "Add as collaborator", wiki_collaborators_path(@wiki, user_id: user.id), method: :post, class: 'btn btn-success'  
