<tr>
	<td><%= link_to (markdown_to_html wiki.title), user_wiki_path(wiki, user_id: current_user) %></td>
	<td><% if wiki.private == true %>
		Yes
		<% else %>
		No
		<% end %>
	</td>
	<td>
		<% if policy(wiki).edit? %>
		<%= link_to "Edit Wiki",  edit_user_wiki_path(wiki, user_id: current_user), class: 'btn btn-success' %>
		<% end %>
	</td>
	<td>
		<% if policy(wiki).destroy? %>
		<%= link_to "Delete Wiki", user_wiki_path(wiki, user_id: current_user), method: :delete, class: 'btn btn-info' %>
		<% end %>
	</td>
	<td>
		<% if policy(wiki).edit? %>
		<%= link_to "Add/Remove Collaborator",  edit_user_wiki_path(wiki, user_id: current_user), class: 'btn btn-warning' %>
		<% end %>
	</td>

</tr>		
