<div class="row">
	<div class="col-md-10">
		<% if current_user %>
			<h2><%= current_user.name %>'s Wiki List</h2>
		<% else %>
			<h2>My Wili List</h2>
		<% end %>
		<% if @wikis %>
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Private?</th>
					</tr>
				</theard>
				<tbody>
					<%= render partial: 'wiki', collection: @wikis %>
					
				</tbody>
			</table>
		
		<% end %>
		<h4>Let's create a new Wiki~</h4>
		<%= render partial: 'form', locals: { wiki: Wiki.new } %>
	</div>
</div>